<button (click)="articleEdit()">Ajouter un article</button>

<mat-grid-list cols="8" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      <h2>{{tile.title}}</h2>

      <!--BLOC LEFT CONNECTION-->
      <div *ngIf="tile.text==='left'">
        <div *ngFor="let article of articles" class="art-wrapper">
          <div class="art-preview">
            <h3 class="art-title">{{article.title}}</h3>
            <p class="art-content">{{article.content}}</p>
            <a routerLink="{{article._id}}" class="art-next">Lire la suite...</a>
          </div>
        </div>
      </div>

      <!--BLOC RIGHT SUBSCRIBE-->
  
      </mat-grid-tile>
  </mat-grid-list>
